.navbarContainer {
  width: 122px;
  height: 100%;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: var(--white);
}

.navbarContainer nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbarContainer nav ul li + li {
  margin-top: 2rem;
}

.navbarContainer nav ul li a {
  transition: color 0.2s;
}

.navbarContainer nav ul li a:hover {
  color: var(--blue)
}

.navbarContainer footer button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text);

  transition: color 0.2s;
}

.navbarContainer footer button:hover {
  color: var(--blue-dark);
}

.navbarContainer footer button svg {
  margin-left: 1rem;
}